
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
@await Component.InvokeAsync("LayoutHeadViewComponentPartial")
<body>

    <div id="wrapper">
        @await Component.InvokeAsync("LayoutSearcBarViewComponentPartial")

        @await Component.InvokeAsync("LayoutTopBarViewComponentPartial")

        @await Component.InvokeAsync("LayoutLogoHeaderViewComponentPartial")

        @await Component.InvokeAsync("LayoutNavbarViewComponentPartial")
        
        @RenderBody()    

        @await Component.InvokeAsync("LayoutFooterViewCopmponentPartial")

        <div class="dmtop">Scroll to Top</div>

    </div><!-- end wrapper -->
    @await Component.InvokeAsync("LayoutScriptViewComponentPartial")

</body>
</html>
