@model List<Category>
<div class="widget">
    <h2 class="widget-title">Popular Categories</h2>
    <div class="link-widget">
        <ul>
            @foreach (var item in Model)
            {
                <li><a href="#">@item.Name <span>(21)</span></a></li>
            }    
        </ul>
    </div><!-- end link-widget -->
</div><!-- end widget -->