<section class="section wb">
    <div class="container">
        <div class="row">

            @await Component.InvokeAsync("BlogListViewComponentPartial")

            @await Component.InvokeAsync("BlogRightSectionViewComponentPartial")

        </div><!-- end row -->
    </div><!-- end container -->
</section>