@model CreateBlogDto

@{
    ViewData["Title"] = "CreateBlog";
    Layout = "~/Areas/User/Views/Shared/UserLayout.cshtml";
}

<div class="container-fluid">
    <div class="card-header">
        <h3 class="card-title">
            <b>Create Blog</b>
        </h3>
    </div>
    <div class="card-body">
        <form role="form" method="post" action="/User/Blog/CreateBlog">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="text-danger">Title</label>
                        <input type="text" class="form-control" placeholder="title" asp-for="Title">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="text-danger">Header</label>
                        <input type="text" class="form-control" placeholder="header" asp-for="Header">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="text-danger">Cover Image Url</label>
                        <input type="text" class="form-control" placeholder="cover image url" asp-for="CoverImageUrl">
                    </div>
                </div>     
                <div class="col-sm-6">
                    <div class="form-group">
                        <label class="text-danger">Thumbnail Image Url</label>
                        <input type="text" class="form-control" placeholder="thumbnail image url" asp-for="ThumbnailImageUrl">
                    </div>
                </div>          
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="text-danger">Description</label>
                        <textarea type="text" class="form-control" placeholder="descriptions" asp-for="Description"></textarea>
                    </div>
                </div>
            </div>
            <button style="margin-top:0rem" type="submit" class="btn btn-outline-success col-md-12">Create New Blog</button>
        </form>
    </div>
</div>
